<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client List</title>
</head>
<body>
<h2>List of Clients</h2>
<a href="/add">Add Client</a>
<table border="1">
    <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Address</th><th>Action</th>
    </tr>
    <tr th:each="client : ${listClients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.phone}"></td>
        <td th:text="${client.address}"></td>
        <td>
            <a th:href="@{'/edit/' + ${client.id}}">Edit</a> |
            <a th:href="@{'/delete/' + ${client.id}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
