<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Save Page</title>
</head>
<body>
    <form th:action="@{/cust/save.do}" th:object="${customer}" method="post">
        Name: <input type="text" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div><br>

        Email: <input type="text" th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div><br>

        Age: <input type="number" th:field="*{age}" />
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div><br>

        Gender:
        <select th:field="*{gender}">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div><br>

        Birthday: <input type="date" th:field="*{birthday}" />
        <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div><br>

        Phone: <input type="text" th:field="*{phone}" />
        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div><br>

        <button type="submit">Save Customer</button>
    </form>
</body>
</html>
