<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans">

    <context:annotation-config />

    <!-- DormRoom Beans -->
    <bean id="dormA" class="com.wipro.springdemo.DormRoom">
        <property name="number" value="101"/>
        <property name="building" value="A"/>
    </bean>

    <bean id="dormB" class="com.wipro.springdemo.DormRoom">
        <property name="number" value="202"/>
        <property name="building" value="B"/>
    </bean>

    <!-- Freshman Bean -->
    <bean id="freshman" class="com.wipro.springdemo.Freshman">
        <property name="name" value="Ravi"/>
    </bean>

</beans>
